@font-face {
    font-family: "couture-bld";
    src: url("font/couture-bld.otf");
  }
  @font-face {
    font-family: "CaviarDreams";
    src: url("font/CaviarDreams.ttf");
  }
  @font-face {
    font-family: "Viyola";
    src: url("font/Viyola.ttf");
  }
  @font-face {
    font-family: "LITTRN__";
    src: url("font/LITTRN__.ttf");
  }
  .CaviarDreams
  {
        font-family: "CaviarDreams";
  }
  h1 ,h2,h3,h4,h5
  {
        font-family: "couture-bld";
        font-size : 0.8em;
  }
  body 
{
        margin : 0 ; 
        padding : 0 ; 
}