/*𝕨𝕨𝕨.𝔹𝕠𝕜𝕠𝕟𝕫𝕚.𝕔𝕠𝕞  𝖞𝖉𝖊𝖓𝖌𝖆 𝕿𝖚𝖛𝖚𝖒𝖇𝖚   ★☆♨♫✈❤     
    //  ★   =   début de l'information
    //  ☆   =   fin de l'information
    //  ♨   =   Code de l'information premier letre du fichier et dernier lettre du fichier suivi du numéro du commentaire.
    //  ♫   = connexion css all suivi du nom du fichier 
    //  ✈  = ♨=#ap001   provenence du fichier total /!\ ... app.php ...    /!\ racine du fichier ♨=#ap001
    //  ❥ = le fichier ne pas au même emplacement que l'appelant /!\
    //
𝕨𝕨𝕨.𝔹𝕠𝕜𝕠𝕟𝕫𝕚.𝕔𝕠𝕞  𝖞𝖉𝖊𝖓𝖌𝖆 𝕿𝖚𝖛𝖚𝖒𝖇𝖚   ★☆♨♫✈❤  /**/
.header-flex-space-around
{
    display: flex ; 
    justify-content: space-around ; 
    border-bottom: 1px solid #e9e9e9 ;
    text-align: center ;  
}
.header-flex 
{
    display: flex ; 
}
.header-flex  a 
{
    padding: 10px;
    transition: 1s all ;  
}

.header-follow a:hover
{
    color:#66cc6e ; 
    transition: 1s all ;
        
}
.header-game
{
    font-family: 'Open Sans Condensed', sans-serif;
}
.header-zone
{
    color : #66cc6e ; 
}
.header-follow 
{
    color:#686767 ; 
}
.header-flex-space-beteen
{
    display: flex ; 
    justify-content: space-around ;  
    background-image: linear-gradient(#0a0a0a, #5b5757);
    color: white ; 
    margin: 0; 
}
.header-flex-space-beteen a 
{
   margin: 0 ; 
   padding: 20px ; 
   transition:  0.8s all ; 
}
.header-flex-space-beteen a:hover 
{
    background-color: #66cc6e ;  
    transition:  0.2s all ; 
}
.header-barre-menu
{
    transition:  1s all ; 
}
.header-menu-general
{
    display: none ; 
}
#header-barre-menu-responsive
{
    background-image: linear-gradient(#0a0a0a, #5b5757);
    margin: 0 ; 
    padding: 1px ; 
    text-align: center ; 
    color: white ;
 
 
}
#header-barre-menu-responsive p 
{
padding: 15px;
margin: 0 ; 
}
#header-barre-menu-responsive
{
    position: relative; 
    left: -1150px;
    visibility: hidden;
}
.header-barre-menu-responsive-cacher
{
    transform: translateX(-1150px) ;
    /* transform: translateX(150px) rotate(30deg);*/
    transition:  2s all ; 
}
.header-barre-menu-responsive-montrer
{
    transform: translateX(1150px) ;
    /* transform: translateX(150px) rotate(30deg);*/
    transition:  0.2s all ; 
}
#header-barre-menu-responsive p:hover 
{
    background-image: linear-gradient(#5b5757, #0a0a0a);
    cursor: pointer;
}
ul li 
{
    list-style: none;
}

