.header 
{
    background-color:  #789CFF; 
    justify-content: space-between ; 
    color:#C4D4FF ; 
}
.flex
{
    display: flex ; 
    padding-left: 20px;
}
.cursor-pointer
{
    cursor:pointer;
}
.bki,.aps,.ofs,.singin,.singup
{
    padding: 10px; 
}
.singup
{
    background-color : white ; 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
    color:#626A80 ; 
}
.left img 
{
    width: 50px; 
    padding: 0px;
    position: absolute  ; 
    left: 0;
    top:0;
}
